@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
  cursor: point;
}

.App {
  margin: 1rem;
}

.Navbar {
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  text-align: center;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 300;
}

.title {
  width: 90%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.items {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Stats {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Stats .user-chart {
  width: 90%;
  height: 100%;
}

.Top {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Top .items .top-ranker {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #f1c40f;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Top .items .top-ranker:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Top .items .top-ranker .ranker-twitter {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.ranker-twitter a {
  display: flex;
  align-items: center;
  color: #636e72;
}

.ranker-twitter a:hover {
  color: black;
}

.Top .items .top-ranker img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.top-ranker .ranker-subject {
  width: 100%;
  overflow: hidden;
}

.Transactions {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Transactions .items .block-txs {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.block-txs .block-num {
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.block-txs .block-num span {
  margin-left: 1rem;
  color: #636e72;
  font-weight: 300;
  font-size: 0.8rem;
}

.tx {
  cursor: pointer;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tx:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;
}

.tx .tx-event {
  margin: 0.3rem;
}

.tx .tx-event span {
  padding: 0.3rem;
  border-radius: 5px;
}

.tx .tx-subject {
  margin: 0.5rem 0;
  width: 100%;
  overflow: hidden;
}

.tx .tx-subject a {
  text-decoration: none;
  color: #2d3436;
}

.tx p {
  color: #989d9e;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  html {
    display: flex;
    justify-content: center;
  }

  .App {
    width: 750px;
  }
}